.container {
  padding: 20px;
}
.title {
  font-size: 24px;
  padding-left: 20px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.movieItem {
  text-align: center;
  flex: 1 1 150px;
  max-width: 200px;
}

.movieLink {
  color: #c5c5d2;
  text-decoration: none;
}

.movieImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.movieImage:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .title {
    font-size: 28px;
    padding-left: 40px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 38px;
    padding-left: 40px;
  }
}
